## Collaborative Filtering

In [1]:
import pandas as pd
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
ratings = pd.read_csv("toy_dataset.csv")
ratings

  Unnamed: 0  action1  action2  action3  romantic1  romantic2  romantic3
0     user 1      4.0      5.0      3.0        NaN        2.0        1.0
1     user 2      5.0      3.0      3.0        2.0        2.0        NaN
2     user 3      1.0      NaN      NaN        4.0        5.0        4.0
3     user 4      NaN      2.0      1.0        4.0        NaN        3.0
4     user 5      1.0      NaN      2.0        3.0        3.0        4.0

In [3]:
ratings = pd.read_csv("toy_dataset.csv",index_col=0)
ratings = ratings.fillna(0)
ratings

        action1  action2  action3  romantic1  romantic2  romantic3
user 1      4.0      5.0      3.0        0.0        2.0        1.0
user 2      5.0      3.0      3.0        2.0        2.0        0.0
user 3      1.0      0.0      0.0        4.0        5.0        4.0
user 4      0.0      2.0      1.0        4.0        0.0        3.0
user 5      1.0      0.0      2.0        3.0        3.0        4.0

In [4]:
##creating a standardize method
def standardize(row):
    new_row = (row - row.mean())/(row.max() - row.min())
    return new_row

ratings_std = ratings.apply(standardize)


##we are taking a transpose since we want similarity between items which need to be in rows
item_similarity = cosine_similarity(ratings_std.T)
print(item_similarity)

[[ 1.          0.70668875  0.81368151 -0.79941088 -0.02539184 -0.91410609]
 [ 0.70668875  1.          0.72310153 -0.84515425 -0.5189993  -0.84337386]
 [ 0.81368151  0.72310153  1.         -0.84794611 -0.3799803  -0.80218063]
 [-0.79941088 -0.84515425 -0.84794611  1.          0.14803913  0.72374686]
 [-0.02539184 -0.5189993  -0.3799803   0.14803913  1.          0.39393939]
 [-0.91410609 -0.84337386 -0.80218063  0.72374686  0.39393939  1.        ]]

In [5]:
item_similarity_df = pd.DataFrame(item_similarity,index=ratings.columns,columns=ratings.columns)
item_similarity_df

            action1   action2   action3  romantic1  romantic2  romantic3
action1    1.000000  0.706689  0.813682  -0.799411  -0.025392  -0.914106
action2    0.706689  1.000000  0.723102  -0.845154  -0.518999  -0.843374
action3    0.813682  0.723102  1.000000  -0.847946  -0.379980  -0.802181
romantic1 -0.799411 -0.845154 -0.847946   1.000000   0.148039   0.723747
romantic2 -0.025392 -0.518999 -0.379980   0.148039   1.000000   0.393939
romantic3 -0.914106 -0.843374 -0.802181   0.723747   0.393939   1.000000

In [6]:
##Making Recommendations
def get_similar_movies(movie_name,user_rating):
    similar_score = item_similarity_df[movie_name]*(user_rating-2.5) 
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score
print(get_similar_movies("action1",1))

romantic3    1.371159
romantic1    1.199116
romantic2    0.038088
action2     -1.060033
action3     -1.220522
action1     -1.500000
Name: action1, dtype: float64

In [8]:
##created a user as action_pritam
action_pritam = [("action1",4),("romantic2",1),("romantic3",5)]

similar_movies = pd.DataFrame()

for movie,rating in action_pritam:
    similar_movies = similar_movies.append(get_similar_movies(movie,rating),ignore_index=True)
similar_movies.head()
similar_movies.sum().sort_values(ascending=False)

romantic3    0.537932
romantic1    0.388192
action3     -0.214959
action2     -0.269903
romantic2   -0.553239
action1     -0.747177
dtype: float64